<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.apirun.base.mapper.ext.ExtProjectsActivityRankingMapper">

    <resultMap id="BaseResultMap" type="io.apirun.dto.StatisticsProjectRankingDTO">
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
        <result column="operCount" property="operCount" jdbcType="INTEGER"/>
    </resultMap>
    <select id="projectsActivityRanking" resultMap="BaseResultMap">
        SELECT p.name pname, IFNULL(COUNT(ol.id), 0) as operCount
        FROM operating_log ol
        join project p on p.id = ol.project_id
        where date_format(from_unixtime(ol.oper_time / 1000), '%Y-%m-%d') BETWEEN #{begin_time,jdbcType=VARCHAR}
        AND #{end_time,jdbcType=VARCHAR}
        and
        <if test="query_type!=null and query_type.indexOf('performance')>=0">
            oper_path LIKE concat('%', #{query_type}, '%')
        </if>
        <if test="query_type!=null and query_type.indexOf('automation')>=0">
            oper_path LIKE concat('%','api/' #{query_type}, '%')
        </if>
        <if test="query_type!=null and query_type.indexOf('case')>=0">
            oper_path LIKE concat('%','api/test', #{query_type}, '%')
        </if>
        <if test="query_type!=null and query_type.indexOf('api')>=0">
            oper_path LIKE '%api/definition%' or oper_path LIKE'%api/module%'
        </if>
        GROUP BY ol.project_id
        ORDER BY operCount desc;

    </select>


</mapper>